.bg_fixed_div {
	position: fixed;
	top: 0px;
	left: 0px;
	bottom: 0px;
	right: 0px;
	z-index: 10;
}

.artboard-bg {
	background: -webkit-linear-gradient(#4cbded, #9befca) no-repeat;
	/* Safari 5.1 - 6.0 */
	background: -o-linear-gradient(#4cbded, #9befca) no-repeat;
	/* Opera 11.1 - 12.0 */
	background: -moz-linear-gradient(#4cbded, #9befca) no-repeat;
	/* Firefox 3.6 - 15 */
	background: linear-gradient(#4cbded, #9befca) no-repeat;
	/* 标准的语法 */
}

.middle_div {
	width: 90%;
	margin: 0 auto;
	margin-top: 3.5em;
	position: relative;
}

.ewm_div {
	width: 20em;
	height: 20em;
	margin: 0 auto;
	background: white;
}

.ewm_img {
	width: 19.5em;
	height: 19.5em;
	padding: 0.5em;
}

.left {
	position: absolute;
	right: calc( 50% + 11.5em);
	z-index: 100;
}

.top_img {
	height: 4.5em;
	top: 8em;
}

.sub_img {
	top: 14em;
}

.right {
	position: absolute;
	left: calc( 50% + 11.5em);
	z-index: 100;
}


/**海滩**/

.beach {
	position: fixed;
	bottom: 0px;
	left: 0px;
	right: 0px;
	z-index: 11;
}

.palm_div {
	position: fixed;
	bottom: 0px;
	left: 0px;
	right: 0px;
	z-index: 12;
}

.palm_tree {
	height: 15.4em;
	position: fixed;
	z-index: 13;
	left: 0px;
	bottom: -1em;
}

.palm_tree_right {
	z-index: 13;
	right: 0px;
	left: auto;
	bottom: -1.2em;
}

.umbrella {
	position: fixed;
	bottom: -1em;
	z-index: 13;
	left: 350px;
	height: 7.7em;
}


.palm_clock_left {
	-webkit-animation: go_paltree_left 1s ease-in-out alternate infinite;
	-moz-animation: go_paltree_left 1s ease-in-out alternate infinite;
	animation: go_paltree_left 1s ease-in-out alternate infinite;
}
.palm_clock_right {
	-webkit-animation: go_paltree_right 1s ease-in-out alternate infinite;
	-moz-animation: go_paltree_right 1s ease-in-out alternate infinite;
	animation: go_paltree_right 1s ease-in-out alternate infinite;
}
.palm_clock_umbrella {
	-webkit-animation: umbrella 1s ease-in-out alternate infinite;
	-moz-animation: umbrella 1s ease-in-out alternate infinite;
	animation: umbrella 1s ease-in-out alternate infinite;
}
@keyframes go_paltree_left {
	0% {
		-webkit-transform: rotate(5deg);
		-webkit-transform-origin: bottom left;
		-moz-transform: rotate(5deg);
		-moz-transform-origin: bottom left;
		transform: rotate(5deg);
		transform-origin: bottom center;
	}
	100% {
		-webkit-transform: rotate(-5deg);
		-webkit-transform-origin: bottom left;
		-moz-transform: rotate(-5deg);
		-moz-transform-origin: bottom left;
		transform: rotate(-5deg);
		transform-origin: bottom left;
	}
}
@keyframes go_paltree_right {
	0% {
		-webkit-transform: rotate(-5deg);
		-webkit-transform-origin: bottom right;
		-moz-transform: rotate(-5deg);
		-moz-transform-origin: bottom right;
		transform: rotate(-5deg);
		transform-origin: bottom right;
	}
	100% {
		-webkit-transform: rotate(5deg);
		-webkit-transform-origin: bottom right;
		-moz-transform: rotate(5deg);
		-moz-transform-origin: bottom right;
		transform: rotate(5deg);
		transform-origin: bottom right;
	}
}
@keyframes umbrella {
	0% {
		-webkit-transform: rotate(-10deg);
		-webkit-transform-origin: bottom left;
		-moz-transform: rotate(-10deg);
		-moz-transform-origin: bottom left;
		transform: rotate(-10deg);
		transform-origin: bottom left;
	}
	100% {
		-webkit-transform: rotate(-5deg);
		-webkit-transform-origin: bottom left;
		-moz-transform: rotate(-5deg);
		-moz-transform-origin: bottom left;
		transform: rotate(-5deg);
		transform-origin: bottom left;
	}
}





/**带列表的样式**/
.list_content{
	background-color: rgba(0, 0, 0, .5);
	left: 65px;
	right: 65px;
	position: fixed;
	z-index: 15;
	bottom: 75px;
	top: 75px;
}
.content_header{
	position: relative;
	background-color: rgba(0, 0, 0, .5);
	height: 100px;
}
.content_header p{
	margin:0px;
	font-size: 36px;
	padding: 10px 20px 5px 20px;
}
.content_header p:last-child{
	font-size: 20px;
	padding-top: 5px;
}
.content_header span{
	position: absolute;
	right: 30px;
	bottom: 12px;
	color: white;
	font-size: 20px;
}
.list{
	height: calc( 100%  - 110px);
	overflow:auto
}
.list p{
	height: auto;
	line-height: 50px;
	width: 20%;
	float: left;
	text-align: center;
	font-size: 24px;
	margin: 0px;
}
.list_header p{
	height:50px !important;
}
.list_header p:last-child{
	width:30%
}
.list_header p:nth-child(3){
	width: 30%;
}
.list_cell{
	height: auto;
	width:100%;
	float:left;
}
.list_cell:nth-of-type(2n){
	background-color: rgba(0, 0, 0, .5);
}
.list_cell:nth-of-type(2n+1){
	background-color:transparent
}
.list_cell p{
	height: auto;
	line-height: 50px;
}
.list_cell p:last-child{
	font-size: 14px;
	width:30%;
}
.list_cell p:nth-child(3){
	width:30%;
	text-align:left;
}

