body {
	font-family: "黑体";
	margin: 0 auto;
	padding: 0;
	height: 100%;
}

html {
	margin: 0 auto;
	padding: 0;
	height: 100%;
}

img {
	max-width: 100%;
	max-height: 100%;
}

p {
	font-size: 12px;
	color: white !important;
	word-break:break-all
}

.letter_space {
	letter-spacing: 2px
}


/**英文字体**/

.font-eng {
	font-family: 'Fira Sans';
}

.lootery {
	width: 160px;
	margin: 0 auto;
	display: block;
}

.color_get_yellow {
	color: #f8e71c !important;
}

.border_white_2px_nocorner {
	border: 2px solid white;
}


/**蒙板效果**/

.back-top {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 14;
	background-color: rgba(0, 0, 0, .3);
}


/**层级效果公共css**/

.layer {
	position: absolute;
	top: 0px;
	right: 0px;
	bottom: 0px;
	left: 0px;
	z-index: 11;
}

.layer_two {
	z-index: 12;
}

.layer_three {
	z-index: 13;
}

.layer_four {
	z-index: 14;
}


/**等待内容层样式**/

.layer_five {
	z-index: 16;
	background: black;
}


/**欢迎页面和主页公用的部分样式**/

.next_image {
	bottom: 0px;
	display: block;
	margin: 0 auto;
	position: fixed;
	z-index: 12;
}

.whale_img {
	bottom: 40px;
	display: block;
	margin: 0 auto;
	position: fixed;
	bottom: 20p;
	z-index: 13;
}

.Ela_img {
	width: 100px;
	display: block;
	margin: 0 auto;
	margin-top: 90px;
}

.btn {
	width: 250px;
	height: 44px;
	margin: 0 auto;
	padding: 8px 0px;
	margin-top: 42px;
}

.btn p {
	text-align: center;
	font-size: 13px;
	margin: 0px;
}

.btn p:first-child {
	font-size: 18px;
	margin-bottom: 4px;
}

.btn input {
	border: none;
	width: 200px;
	display: block;
	margin: 0 auto;
	height: 44px;
	background: transparent;
	color: #898989;
	line-height: 44px;
}

.btn input:focus {
	outline: none;
	border: 1px solid transparent;
}

.help {
	position: fixed;
	bottom: 22px;
	left: 0px;
	right: 0px;
	text-align: center;
	text-decoration: underline;
}

.disable_btn {
	border-color: #898989 !important;
}

.disable_btn p {
	color: #898989 !important;
}

.arrow_img {
	height: 38px;
	width: auto;
	margin: 0 auto;
	margin-top: 75px;
	display: none;
}

.wave_img {
	width: 100px;
	height: auto;
	margin: 0 auto;
	margin-top: 75px;
	display: block;
}

.cache_content {
	padding: 0px 30px;
}

.cache_content p {
	line-height: 20px;
	font-size: 14px;
	margin-bottom: 10px;
}

.letter_space_1px {
	letter-spacing: 1px;
}