.content_div {
	position: absolute;
	top: 10px;
	left: 0px;
	right: 0px;
}
.desc {
	margin: 0px 25px;
	margin-top: 20px;
	padding: 0px 5px;
    word-break: normal;
}

.desc a {
	color: white;
    text-decoration: underline;
}

.desceng {
	margin: 0px 25px;
	margin-top: 5px;
    word-break: normal;
}

.desceng a {
	color: white;
    text-decoration: underline;
}

.btn_p {
	margin: 0px 15px;
	border: 2px solid white;
	border-radius: 10px;
	padding: 5px 30px;
	margin-top: 10px;
}

.btn_p p {
	margin-bottom: 0px;
}

.btn_p p:first-child {
	font-size: 14px;
}
.btn_p p:first-child  span{
	font-size: 18px;
}
.btn_p p:last-child span {
	color: #f8e71c;
	padding-left: 5px;
	font-size: 18px;
	margin-left: -3px;
}

.now_block {
	margin-top: 12px;
	text-align: center;
	font-size: 14px;
}

.number_div {
	color: white;
	width: 270px;
	height: 256px;
	margin: 0 auto;
}

.number_div div {
	font-family: "DINAlternate-Bold";
	font-size: 30px;
	border: 2px solid white;
	border-radius: 10px;
	width: 54px;
	height: 54px;
	float: left;
	text-align: center;
	line-height: 54px;
	margin-top: 10px;
	margin-left: 10px;
}

.number_div_fill {
	background: #BBBBBB;
}

.sumit_btn {
	border: 2px solid white;
	border-radius: 10px;
	padding: 5px;
	width: 200px;
	margin: 0 auto;
	margin-top: 20px;
	margin-bottom:20px;
}

.sumit_btn p {
	margin-bottom: 0px;
	width: 100%;
	text-align: center;
}