@charset "utf-8";
/*Global Start*/
html,body { height: 100%;margin: 0; padding: 0;}
* {margin:0;padding:0;font-family:"微软雅黑";font-size:12px;}
ul{list-style:none;}
img{border:none;}

body{background:url(../images/Space.png) center;}

.main{width:100%; height:100%; background:url(../images/Whale.png) left -100px bottom 13% no-repeat;background-size:120% auto; position:relative; z-index:9;}
.logo{width:100px; height:100px; background:url(../images/ELA.png) no-repeat; background-size:100% 100%; position:absolute; left:50%; top:90px; margin-left:-50px; z-index:99999999999;}

.form{width:100%; height:auto; position:absolute; top:190px; left:0;}
.form a{width:250px; height:60px; border:3px solid #fff; display:block;  margin:0 auto;margin-top:42px; text-align:center; font-size:18px; text-decoration:none; color:#fff; line-height:40px;}
.form a span{line-height:8px; font-size:13px; color:#fff;}

.footer{position:absolute; bottom:22px; left:50%; margin-left:-50px;}
.footer a{color:#fff; font-size:12px; text-decoration:none;}

.dialog,.dialog_loading{width:100%; height:100%;position:fixed; z-index:99; top:0; display:none;}
.dialog_bg{width:100%; height:100%;position:fixed; z-index:99; top:0; background:#000;filter:alpha(opacity=70); -moz-opacity:0.7; -khtml-opacity: 0.7; opacity: 0.7; }
.dialog_form{width:100%; height:auto; position:absolute; top:190px; left:0; position:relative; z-index:999; text-align:center;}
.dialog_form input{width:244px; padding:0 3px; height:60px; border:3px solid #fff; display:block; background:#000;  margin:0 auto;margin-top:150px; text-align:center; font-size:18px; text-decoration:none; color:#fff; line-height:40px;}
.dialog a{ display:block; margin:0 auto;width:50px; height:36px; position:absolute; top:481px; left:50%; margin-left:-25px; z-index:9999;}

.dialog_loading_main{width:100%; height:auto; position:absolute; top:232px; left:0; position:relative; z-index:999; text-align:center;}
.dialog_loading_bg{width:100%; height:100%;position:fixed; z-index:99; top:0; background:#000;}
.dialog_loading_main p{color:#fff; margin:0 15%; text-align:left;}
.dialog_loading_main p.f14{font-size:14px;}
.dialog_loading_main p.f11{font-size:11px;}
.dialog_loading img{ margin:0 auto;width:100px; height:100px; position:absolute; top:481px; left:50%; margin-left:-50px; z-index:9999;}

.form_home a{margin-top:20px;}
.form_home p{color:#f8e71c; text-align:center;}

body.all{background:url(../images/Blocks.jpg) bottom center; background-size:100% 100%;background-attachment:fixed}
.main_all{width:100%; height:100%; position:relative; z-index:9;}
.logo_all{width:224px; height:100px; background:url(../images/Lottery.png) no-repeat; background-size:100% 100%; position:absolute; left:50%; top:20px; margin-left:-112px; z-index:99999999999;}
.all_list{width:100%; height:auto; position:absolute; top:136px; left:0;}
.all_list li{width:85%; height:80px; margin:0 auto; margin-top:10px;}
.all_list li p{color:#fff; line-height:28px;}
.all_list li a{border:2px solid #fff; width:auto; height:42px; color:#fff;-moz-border-radius: 10px;-webkit-border-radius: 10px;border-radius:10px; line-height:20px; padding:0 10px; padding-top:4px; background:url(../images/right.png) top 15px right 10px no-repeat; background-size:10px; display:block; text-decoration:none;}
.all_list li.on p{color:#efde1b;}
.all_list li.on a{border:2px solid #efde1b;}
.all_list li a span{color:#fff;}

.all_dialog{width:100%; height:100%;position:fixed; z-index:99; top:0;}
.all_dialog_bg{width:100%; height:100%;position:fixed; z-index:99; top:0; background:#000; }
.all_dialog_main{width:100%; height:100%; position:absolute; top:10px; left:0; position:relative; z-index:999;}
.all_dialog_main p{color:#fff; text-indent:19px; line-height:26px;}
.all_dm_con{width:calc(100% - 38px);width:-moz-calc(100% - 38px);width:-webkit-calc(100% - 38px);height:calc(100% - 57px);height:-moz-calc(100% - 57px);height:-webkit-calc(100% - 57px); margin:0 auto; border:2px solid #fff;-moz-border-radius: 10px;-webkit-border-radius: 10px;border-radius:10px;}

.all_dm_con div{color:#fff; font-size:14px; margin-left:12px; margin-top:8px;}
.all_dm_con div span{color:#fff; font-size:12px; line-height:20px;}
.all_dm_con h2{color:#fff; font-size:12px; margin-left:12px; margin-top:16px; font-weight:normal;}

.all_dm_con .all_dialog_list{width:94%; height:calc(100% - 110px);height:-moz-calc(100% - 110px);height:-webkit-calc(100% - 110px); margin:0 auto; margin-top:10px;overflow-x: hidden;overflow-y: scroll;}
.all_dm_con .all_dialog_list::-webkit-scrollbar{display:none;}
.all_dm_con .all_dialog_list li{float:left; width:100%; height:22px; line-height:22px;}
.all_dm_con .all_dialog_list li span{float:left;}
.all_dm_con .all_dialog_list li i{float:right; font-style:normal;}
.all_dm_con .all_dialog_list li.on span,.all_dm_con .all_dialog_list li.on i{color:#dacb1f;}

.game_main{width:calc(100% - 30px);width:-webkit-calc(100% - 30px);width:-moz-calc(100% - 30px); height:auto; position:absolute; top:136px; left:0; margin-left:15px;}
.game_main p{color:#fff; font-size:12px; margin-top:3px; padding:0 10px; }
.game_main p a{color:#fff;}
.game_main .game_info{border:2px solid #fff; width:auto; height:42px; color:#fff;-moz-border-radius: 10px;-webkit-border-radius: 10px;border-radius:10px; line-height:20px; padding:0 10px; padding-top:4px; margin-top:10px;}
.game_main .game_info i{font-style:normal; color:#dacb1f; font-weight:bold;}
.game_main h1{color:#fff; text-align:center; line-height:40px; font-size:14px; font-weight:normal;}
.game_select_main{width:290px; height:auto; margin:0 auto;}
.game_select_main a{float:left; height:54px; width:54px; line-height:54px; text-align:center;border:2px solid #fff; display:block; color:#fff;-moz-border-radius: 10px;-webkit-border-radius: 10px;border-radius:10px; font-size:30px; text-decoration:none; font-weight:bold; margin-left:13px; margin-top:13px; background:url(../images/button_bg.png) no-repeat;}
.game_select_main a.on{background:#bbbbbb;}

.game_main a.game_upload{border:2px solid #fff; width:200px; height:40px; margin:0 auto; color:#fff;-moz-border-radius: 10px;-webkit-border-radius: 10px;border-radius:10px; padding:5px 10px; text-align:center; display:block; margin-top:20px;}






